
* {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

.comments {
    color: rgb(5, 78, 2);
    padding-bottom: 40px;
}

nav {
    background-color:rgb(211, 146, 6);
    color: rgb(51, 38, 3);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    height: 50px;
    text-align: center;
    align-items: center;
}
h3 {
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}
.box {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    padding-bottom: 40px;
}
.btn {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
ul {
    display: flex;
    justify-content: space-around;
    background-color:rgb(211, 146, 6);
    padding-top: 20px;
    padding-bottom: 20px;
}